// 
// Custom fonts to load
//

@font-face {
  font-family: 'Guardian Regular';
  src: url('../fonts/GuardianTextSans-Regular-Web.eot');
  src: url('../fonts/GuardianTextSans-Regular-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianTextSans-Regular-Web.woff') format('woff'), url('../fonts/GuardianTextSans-Regular-Web.ttf') format('truetype'), url('../fonts/GuardianTextSans-Regular-Web.svg#Guardian TextSans Web') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Guardian Medium';
  src: url('../fonts/GuardianTextSans-Medium-Web.eot');
  src: url('../fonts/GuardianTextSans-Medium-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianTextSans-Medium-Web.woff') format('woff'), url('../fonts/GuardianTextSans-Medium-Web.ttf') format('truetype'), url('../fonts/GuardianTextSans-Medium-Web.svg#Guardian TextSans Web') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Guardian Bold';
  src: url('../fonts/GuardianTextSans-Bold-Web.eot');
  src: url('../fonts/GuardianTextSans-Bold-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianTextSans-Bold-Web.woff') format('woff'), url('../fonts/GuardianTextSans-Bold-Web.ttf') format('truetype'), url('../fonts/GuardianTextSans-Bold-Web.svg#Guardian TextSans Web') format('svg');
  font-weight: 700;
  font-style: bold;
  font-stretch: normal;
}
@font-face {
  font-family: 'Egyptian Regular';
  src: url('../fonts/GuardianTextEgyp-Regular-Web.eot');
  src: url('../fonts/GuardianTextEgyp-Regular-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianTextEgyp-Regular-Web.woff') format('woff'), url('../fonts/GuardianTextEgyp-Regular-Web.ttf') format('truetype'), url('../fonts/GuardianTextEgyp-Regular-Web.svg#Guardian Text Egyptian Web') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Egyptian Medium';
  src: url('../fonts/GuardianTextEgyp-Medium-Web.eot');
  src: url('../fonts/GuardianTextEgyp-Medium-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianTextEgyp-Medium-Web.woff') format('woff'), url('../fonts/GuardianTextEgyp-Medium-Web.ttf') format('truetype'), url('../fonts/GuardianTextEgyp-Medium-Web.svg#Guardian Text Egyptian Web') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Egyptian Medium Italic';
  src: url('../fonts/GuardianTextEgyp-MediumIt-Web.eot');
  src: url('../fonts/GuardianTextEgyp-MediumIt-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianTextEgyp-MediumIt-Web.woff') format('woff'), url('../fonts/GuardianTextEgyp-MediumIt-Web.ttf') format('truetype'), url('../fonts/GuardianTextEgyp-MediumIt-Web.svg#Guardian Text Egyptian Web') format('svg');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}